html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header p {
  font-size: 1.8em;
  margin: 5px;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 0.9em;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 25px;
}

h2 {
  font-size: 1em;
  margin-bottom: 10px;
  text-align: center;
}

.aside-one {
  padding: 20px;
}

.aside-one ul {
  list-style: none;
  margin-left: 0;
  text-align: center;
  line-height: 1.3;
}

.aside-two ul {
  list-style: none;
  margin-left: 0;
  text-align: center;
  line-height: 1.3;
}

.main-content p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 5px;
}

h3 {
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

footer p {
  text-align: center;
}

@media screen and (min-width: 680px) {
  .aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-grow: 15;
    text-align: justify;
    padding-left: 0;
  }

  .aside ul {
    text-align: left;
    line-height: 1.5;
    margin-left: 5px;
  }

  .aside-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .aside-one {
    padding: 0;
    padding-bottom: 20px;
  }

  .main-content {
    max-width: 75%;
  }

  .main-content p {
    margin-right: 25px;
    margin-left: 5px;
  }

  h2 {
    text-align: start;
  }

}
